#table{
    border: 2px solid black;
    margin: 100px auto 0 auto;
    padding: 20px;
    z-index:0;

}
th{
    margin:  40px;
    border-bottom: 2px solid black;
}
tr{
    border-bottom: 2px solid black;
}
td{
    text-align: center;
    
}
